.audio-controls .prev {
  width: 20px;
  height: 20px;
  background: green; }
.audio-controls .play-pause {
  width: 20px;
  height: 20px;
  background: blue; }
.audio-controls .next {
  width: 20px;
  height: 20px;
  background: red; }
.audio-controls .range {
  position: relative;
  width: 600px;
  height: 10px;
  background: #ecf0f1;
  margin: 20px; }
.audio-controls .track {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f1c40f; }
.audio-controls .buffer {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: #bdc3c7; }
