section.columns {

  $border: #C4C8CF;
  $active_seperator: #A94E39;
  $seperator: #E9F2F9;
  $inactive: #F5F9FC;
  $arrow: #38393A;
  $light_arrow: #ccc;

  overflow: hidden;
  border: 1px solid $border;
  margin: 20px;
  height: calc(100% - 40px);
  border-radius: 4px;
  background: darken($white, 3);

  .pane {
    position: relative;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    float: left;
    z-index: 1;
    border-right: 1px solid $border;
  }

  .pane:last-child {
    border-right: none;
  }

  .title {
    display: none;
  }

  .items {
    height: 100%;
    background: $white;
    overflow-y: scroll;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
  }

  .item {
    padding: 0 20px;
    line-height: 36px;
    position: relative;
    border-bottom: 1px solid $seperator;
  }

  .active.pane .active.item {
    background: $melo;
    margin-top: -1px;
    border: 1px solid $active_seperator;
    border-left: none;
    border-right: none;
    color: $white;
  }

  .active.item {
    font-weight: bold;
  }

  .active.item, .item:hover {
    background: $inactive;
  }

  .hasChild:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 14px;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $light_arrow;
    border-top: 5px solid transparent;
  }

  .active.hasChild:after {
    border-left-color: $arrow;
  }

  .active .active.hasChild:after {
    border-left-color: $white;
  }

}
