// Dark green
$turquoise: #1ABC9C;
$green_sea: #16A085;

// Light green
$emerald: #2ECC71;
$nephritis: #27AE60;

$peter_river: #3498D8;
$belize_hole: #2980B9;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;

$sun_flower: #F1C40F;
$orange: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Light grey
$clouds: #ECF0F1;
$silver: #BDC3C7;

// Dark grey
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// Black and white
$white: #FFFFFF;
$black: #000000;


// http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
$slate: #556270;
$pacifica: #4ECDC4;
$chic: #C7F464;
$cheery: #FF6B6B;
$pillow: #C44D58;

// http://www.colourlovers.com/palette/27905/threadless#
$threadless: #1B325F;
$threadless_light: #9CC4E4;
$threadless_box: #E9F2F9;
$yay_threadless: #3A89C9;
$melo: #F26C4F;

// App
$brick_text: #193360;
$bar_seperator: #B8C2D1;
