header.panel {
  $button_height: 32px;
  $line-height: 16px;
  $button_margin: ($header_height - $button_height) / 2;

  position: relative;
  padding: 0 20px;

  .decorations {
    $radius: 12px;
    $spacing: $radius / 2;

    float: left;
    margin-top: $header_height / 2 - $radius / 2;

    div {
      float: left;
      width: $radius;
      height: $radius;
      border-radius: 100%;
      background: rgba(#fff, 0.3);
      @include transition(all 0.1s);
      margin-top: 1px;
      margin-left: 1px;
      margin-right: $spacing + 1;
    }

    div:hover {
      background: rgba(#fff, 0.6);
      width: $radius + 2px;
      height: $radius + 2px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: $spacing;
    }

  }


  .search {
    margin: 0 auto;
    width: 400px;
  }

  .dropdown {
    float: left;

    button {
      outline: none;
      width: 100px;
      float: left;
      display: block;
      background: $yay_threadless;
      color: $white;
      padding: 0 20px;
      line-height: $button_height;
      margin-top: $button_margin;
      border: 0;
      border-radius: 4px 0 0 4px;
      @include transition(background 0.3s);

      &:hover {
        background: lighten($yay_threadless, 10);
      }
    }

    ul {
      display: none;
    }

    li {
      color: $white;
      line-height: $line-height;
    }

  }

  .search input {
    float: right;
    width: calc(100% - 100px);
    line-height: $line-height;
    height: $button_height;
    padding: 0 10px;
    margin: $button_margin 0;
    border: 0;
    border-radius: 0 4px 4px 0;
    background: lighten($threadless, 15);
    outline: 0;
    @include transition(background 0.3s);
    color: $white;

    &:focus {
      background: $white;
      color: $threadless;
    }

  }

  .open-settings {
    @include pos(10px, 10px, auto, auto);
    border: 0;
    background: orange;
  }

}
